@import "./variables/globals";
@import "./mixins/type-setting";

.button,
.button.raised,
.button.primary {
  font-size: type-scale(0);
  line-height: line-height(1);
  height: line-height(1);
  font-weight: $font-weight-normal;

  > span {
    line-height: line-height(1);
  }
}

