@import "utils/strip-unit";

$scale-factor: 1.414; // Augmented fourth
$base-font-size: 1rem;
$baseline-height: $base-font-size * 1.25;

// function to compute type scale using modular scale.
@function type-scale($level: 0) {
  @if($level == 0) {
    @return $base-font-size;
  }

  $scale: $base-font-size;
  @if($level < 0) {
    @while($level != 0) {
      $scale: $scale / $scale-factor;
      $level: $level + 1;
    }
    @return $scale;
  }

  @while($level != 0) {
    $scale: $scale * $scale-factor;
    $level: $level - 1;
  }

  @return $scale;
}
// compute line-heights that mantain a vertical ryhtm.
@function line-height($level: 0) {
  $type-scale: type-scale($level);
  $factor: ceil(strip-unit($type-scale) / strip-unit($baseline-height));
  @return $factor * $baseline-height;
}
